<div class="wrapper2" >
  <!-- <input class="form-control ml-2" type="text" name="searchTerm" /> -->

  <form>
    <div class="row">
      <div class="col-md-6 align-self-center"  *ngIf="config.paging">
        <p aria-live="polite" *ngIf="rows && rows.length > 0 && !allowSearch">
          Showing {{ (page * itemsPerPage) - itemsPerPage + 1 }} to
          {{ (page * itemsPerPage) > length ? length : (page * itemsPerPage) }} of <span
            class="text-bold-700">{{length}}</span>
        </p>
      </div>
      <div class="col-md-6">
        <div id="dataTable_filter" class="text-md-right dataTable_filter">
          <label *ngIf="!allowSearch">
            <input class="form-control form-control-sm" type="search" name="searchTerm" (click)="clear(rows)" (keyup)='search(rows,$event.target.value)' aria-controls="dataTable" placeholder="Search"/>
          </label>
        </div>
      </div>
  </div>
  <table id="div22" class="div2 table table-hover table-sm datatable" role="grid" style="width:100%;"
    *ngIf="visibleWhenData ? rows !=null && rows.length > 0 : true" [class.mb-0]="!config.paging">
    <thead *ngIf="isHeaderVisible">
      <tr role="row">
        <th [ngStyle]="{'width': column.size}" [style.min-width.px]="column.minSize"
          [style.text-align]="column.alignText" *ngFor="let column of columns"
          sortable="column.name" [sortable]="column.name" (sort)="onSort($event, column)"
          [class.text-right]="column.datatype && column.datatype.type && column.datatype.type == 'number'">
          {{column.title}}
        </th>
        <!--<th style="width:106px; min-width:106px;" *ngIf="isActionVisible">Action</th>-->
        <th [ngStyle]="{'min-width':ActionWidth ? ActionWidth: ''}" *ngIf="isActionVisible">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows;let i = index;" (click)="onRowClick($event,row)">
        <ng-container *ngFor="let column of columns">
          <ng-container [ngSwitch]="column?.datatype?.type">
            <td *ngSwitchCase="'image'"
              [class.text-right]="column.datatype && column.datatype.type && column.datatype.type == 'number'">
              <img (click)="onImgClick(row,column)" *ngIf="getData(row,column,i)" [style.width.px]="column.minSize"
                [src]="getData(row,column,i)" />
            </td>
            <td *ngSwitchCase="'images'" (click)="rowCellClick.emit(row)" >
               <ng-container *ngFor="let partimage of row.partimages">
                <img *ngIf="partimage.deleted==null" [style.width.px]="column.minSize"
                  [src]="partimage.path" />
              </ng-container>
            </td>
            <td *ngSwitchCase="'imagesoffers'" (click)="rowCellClick.emit(row)" [style.min-width.px]="500">
              <ng-container *ngFor="let image of row.images">
               <img class="img-thumbnail rounded float-left" [style.height.px]="column.minSize" *ngIf="image != null"
                 [src]="image.imageurl" />
             </ng-container>
           </td>
            <td *ngSwitchCase="'percentage'" (click)="rowCellClick.emit(row)"
              [class.text-right]="column.datatype && column.datatype.type && column.datatype.type == 'number'">
              <ngb-progressbar [type]="column.datatype.style" [value]="getData(row,column,i)" [animated]="true" >{{getData(row,column,i)}}</ngb-progressbar>
              <span class="d-flex" [innerHtml]="getValue(row,column,i)"></span>
            </td>
            <td (click)="rowCellClick.emit(row)" *ngSwitchDefault [ngStyle]="{'width' : column.size, 'word-break': column.wordbreak}"
                [style.min-width.px]="column.minSize" [style.text-align]="column.alignText"
                [innerHtml]=getData(row,column,i)
                [class.text-right]="column.datatype && column.datatype.type && column.datatype.type == 'number'">
            </td>
          </ng-container>
        </ng-container>
        <td *ngIf="isActionVisible">
         
          <a *ngIf="isRemovePartVisible" (click)="rowRemovePart(row)" class="pl-1 text-primary" title="Remove last sorted Part">
            <i class="fa fa-minus"></i>
          </a>
          <a *ngIf="isAddPartVisible" (click)="rowAddPart(row)" class="pl-1 text-primary" title="Add to sorted Parts">
            <i class="fa fa-plus"></i>
          </a>
          <a *ngIf="isEditVisible" class="primary p-0" [title]="editButtonText" (click)="onRowEditClick(row)" >
            <i class="font-medium-3" [ngClass]="editClass"></i>
          </a>
          <a *ngIf="isDownloadVisible" class="primary p-0" [title]="downloadButtonText" (click)="onDownloadClick(row)" >
            <i class="font-medium-3" [ngClass]="downloadClass"></i>
          </a>
          <a *ngIf="isDeleteVisible" (click)="rowDeleteClick.emit(row)" class="pl-1 text-danger" title="Change status" popoverTitle="Confirm?">
            <i class="fas fa-trash-alt"></i>
          </a>
          
        </td>
      </tr>
    </tbody>
  </table>
</form>
</div>
<div class="row" *ngIf="config.paging">
  <div class="col-md-6 text-nowrap" >
    <div id="dataTable_filter" class="dataTable_filter">
      <label>
        Show
        <select class="form-control  form-control-sm custom-select custom-select-sm" [(ngModel)]="itemsPerPage" (change)="onChangeTable(config)" [id]="'cz-sidebar-width'">
          <option value="10">10</option>
          <option value="20">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </label>
    </div>

  </div>
  <div class="col-md-6" *ngIf="config.paging && IsPageSizeChangeAllow">
    <div id="dataTable_filter" class="d-lg-flex justify-content-lg-end paging_simple_numbers">
      <ngb-pagination *ngIf="config.paging" [collectionSize]="length" [(page)]="page" [pageSize]="itemsPerPage"
        [rotate]="true" [boundaryLinks]="false" [directionLinks]="true" [maxSize]="maxPaginationSize"
        (pageChange)="onPageNoClick($event);onChangeTable(config)" aria-label="Default pagination">
      </ngb-pagination>
    </div>
  </div>
</div>

<app-modal-popup size="lg"   [title]="imgPopupName" (closeEvent)="onImgPopupClose()" #imagePopup>
  <img [src]="imgPopupURL" width="100%"/>
</app-modal-popup>
