<app-modal-popup [title]="pageTitle" #modalPopup>
  <form (ngSubmit)="onSubmit(runForm)" #runForm="ngForm">
    <div class="col-md-5 mb-4">
      <div class="card shadow mb-4">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <h6 class="text-primary font-weight-bold m-0">General</h6>
        </div>
        <div class="card-body">
          <div *ngIf="isFromCollection == false">
            <div class="form-group">
              <label>Collection id</label>
              <select
                id="collection_id"
                name="collection_id"
                class="form-control input-group"
                (change)="onCollectionChange($event.target.value)"
                #status="ngModel"
                [(ngModel)]="run.collection_id"
              >
                <option *ngFor="let cl of collectionList" [value]="cl.id">
                  {{ cl.name }}
                </option>
              </select>
            </div>
            <div class="form-group" [hidden]="true">
              <label>No</label>
              <div class="input-group">
                <input
                  type="number"
                  required
                  #name="ngModel"
                  [(ngModel)]="run.no"
                  class="form-control"
                  id="No"
                  name="No"
                />
              </div>
            </div>
          </div>
          <div *ngIf="isFromCollection == true">
            <div class="form-group">
              <label>Collection id</label>
              <select
                disabled
                id="collection_id"
                name="collection_id"
                (change)="onCollectionChange($event.target.value)"
                class="form-control input-group"
                #status="ngModel"
                [(ngModel)]="run.collection_id"
              >
                <option *ngFor="let cl of collectionList" [value]="cl.id">
                  {{ cl.name }}
                </option>
              </select>
            </div>
            <div class="form-group" [hidden]="true">
              <label>No</label>
              <div class="input-group">
                <input
                  disabled
                  type="number"
                  required
                  #name="ngModel"
                  [(ngModel)]="run.no"
                  class="form-control"
                  id="No"
                  name="No"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Sorter id</label>
            <select
              ngModel
              name="sorter_id"
              id="sorter_id"
              class="form-control input-group"
              #status="ngModel"
              [(ngModel)]="run.sorter_id"
              #t
            >
              <option *ngFor="let sorter of sorterList" [value]="sorter.id">
                {{ sorter.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Imagefolder</label>
            <div class="input-group">
              <input
                type="text"
                #status="ngModel"
                [(ngModel)]="run.imagefolder"
                class="form-control"
                id="imagefolder"
                name="imagefolder"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <label class="mr-3" for="">Sort Sets: </label>
      <mat-slide-toggle (change)="toggle($event)"></mat-slide-toggle>
    </div>
    <div *ngIf="!showDragDrop" style="display: flex;">
      <div class="example-container">
        <h2>Available Sets</h2>
        <div>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Search</mat-label>
              <input matInput name="setSearch" [(ngModel)] = "setSearch">
            </mat-form-field>
          </form>
        </div>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="expectedSets"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <mat-accordion *ngFor="let item of expectedSets | ngFilter : setSearch : expectedSets" cdkDrag>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header class="disable_ripple">
                <mat-panel-title>
                  {{ item.no }} - {{ item.name }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="card mb-3 mt-3">
                <div class="card-body text-center shadow">
                  <img height="100px" [src]="item.image_url" alt="image_url" />
                </div>
                <div class="mt-3" style="display: flex">
                    <label class="col-md-6">Parts: </label>
                    <p>{{ item.parts_existing }}</p>
                </div>
                <div style="display: flex">
                    <label class="col-md-6">Identified: </label>
                    <p>{{ item.partsidentified_percentage }}</p>
                </div>
                <div style="display: flex">
                    <label class="col-md-6">Price: </label>
                    <p>{{ item.qty_avg_price }} €</p>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>

      <div class="example-container">
        <h2>Available Pusher</h2>
        <div>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Search</mat-label>
              <input matInput name="pusherSearch" [(ngModel)] = "pusherSearch">
            </mat-form-field>
          </form>

        </div>
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="pusherList"
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <!-- <div class="example-box" *ngFor="let item of pusherList" cdkDrag>
            {{ item.no }} - {{ item.name }}
          </div> -->

          <mat-accordion *ngFor="let item of pusherList" cdkDrag>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header class="disable_ripple">
                <mat-panel-title>
                  {{ item.no }} - {{ item.name }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="card mb-3 mt-3">
                <div class="card-body text-center shadow">
                  <img height="100px" [src]="item.image_url" alt="image_url" />
                </div>
                <div class="mt-3" style="display: flex">
                    <label class="col-md-6">Parts: </label>
                    <p>{{ item.parts_existing }}</p>
                </div>
                <div style="display: flex">
                    <label class="col-md-6">Identified: </label>
                    <p>{{ item.partsidentified_percentage }}</p>
                </div>
                <div style="display: flex">
                    <label class="col-md-6">Price: </label>
                    <p>{{ item.qty_avg_price }} €</p>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</app-modal-popup>
