<app-modal-popup [title]="pageTitle" #modalPopup>
    <form (ngSubmit)="onSubmit(runForm)" #runForm="ngForm">
        <div class="col-md-5  mb-4" >
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">General</h6>
                </div>
                <div class="card-body">
                    <div *ngIf="isFromCollection==false">
                        <div class="form-group">
                            <label>Collection id</label>
                            <select id="collection_id" name="collection_id" class="form-control input-group" (change)="onCollectionChange($event.target.value)" #status="ngModel" [(ngModel)]="run.collection_id">
                              <option *ngFor="let cl of collectionList" [value]="cl.id">
                                  {{ cl.name }}
                              </option>
                            </select>
                        </div>
                        <div class="form-group" [hidden]="true">
                            <label>No</label>
                            <div class="input-group">
                                <input type="number" required #name="ngModel" [(ngModel)]="run.no" class="form-control"
                                    id="No" name="No">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isFromCollection==true">
                        <div class="form-group">
                            <label>Collection id</label>
                            <select disabled id="collection_id" name="collection_id" (change)="onCollectionChange($event.target.value)" class="form-control input-group" #status="ngModel" [(ngModel)]="run.collection_id">
                              <option *ngFor="let cl of collectionList" [value]="cl.id">
                                  {{ cl.name }}
                              </option>
                            </select>
                        </div>
                        <div class="form-group" [hidden]="true">
                            <label>No</label>
                            <div class="input-group">
                                <input disabled type="number" required #name="ngModel" [(ngModel)]="run.no" class="form-control"
                                    id="No" name="No">
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Sorter id</label>
                        <select ngModel name="sorter_id" id="sorter_id" class="form-control input-group" #status="ngModel" [(ngModel)]="run.sorter_id" #t>
                          <option *ngFor="let sorter of sorterList" [value]="sorter.id">
                              {{ sorter.name }}
                          </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Imagefolder</label>
                        <div class="input-group">
                            <input type="text" #status="ngModel" [(ngModel)]="run.imagefolder"
                                class="form-control" id="imagefolder" name="imagefolder">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</app-modal-popup>
