<div class="row">
    <div class="col-sm-12">
        <button type="button" class="btn float-right btn-primary m-2" (click)="editCollection(0)">
            <i class="fa fa-plus"></i> Add Collection
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" *ngIf="data && columns">
        <ng-table (rowCellClick)="onEditClick($event)" [isActionVisible]="true" [isEditVisible]="false"
            [isDeleteVisible]="true" [columns]="columns" [data]="data" (rowDeleteClick)="onRowDeleteClick($event)">
        </ng-table>
    </div>
</div>

<app-collection-edit (collectionAdded)="addNewCollection($event)" #collectionEdit></app-collection-edit>