<div class="card shadow py-2 border-left-{{data?.color ? data?.color : ''}}">
  <div class="card-body">
      <div class="row align-items-center no-gutters">
          <div class="col mr-2 p-r-20">
              <div class="text-uppercase text-{{data?.color ? data?.color : ''}} font-weight-bold text-xs mb-1">
                  <span>{{title}}</span>
              </div>
              <ngb-progressbar *ngIf="showProgressbar" type="{{data?.color ? data?.color : ''}}" [value]="(data?.current / data?.total) * 100" [animated]="true">{{data?.current / data?.total * 100}} % </ngb-progressbar>
              <div *ngIf="showProgressbar" class="text-dark font-weight-bold h5 mb-0">
                  {{data?.current}} of {{data?.total}}
              </div>
              <div *ngIf="!showProgressbar" class="text-dark font-weight-bold h5 mb-0">
                {{data?.current}} / {{data?.total}}
            </div>
          </div>
          <div *ngIf="showIcon" class="col-auto">
              <i class="{{showIcon ? data?.icon : ''}}"></i>
          </div>
      </div>
  </div>
</div>
