<app-modal-popup [title]="pageTitle" #modalPopup>
    <form (ngSubmit)="onSubmit(usergroupForm)" #usergroupForm="ngForm">
        <div class="col-md-5  mb-4" >
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">General</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Id</label>
                        <div class="input-group">
                            <input type="number" required #name="ngModel" [(ngModel)]="usergroup.id" class="form-control"
                                id="Username" name="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Groupname</label>
                        <div class="input-group">
                            <input type="text" #status="ngModel" [(ngModel)]="usergroup.groupname"
                                class="form-control" id="groupname" name="groupname">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</app-modal-popup>