<div class="container-fluid" *ngIf="offerDetails">
    <div class="d-sm-flex justify-content-between align-items-center mb-4 pt-2">
        <h3 class="text-dark mb-0">{{offerDetails.offerinfo.title}}</h3>
      <div class="navigation-buttons-container">
        <i class="fas fa-arrow-left button"  (click)="getOffer(false)"></i>
        <i class="fas fa-arrow-right button" (click)="getOffer(true)"></i>
      </div>
    </div>
</div>
<div class="row mb-3" *ngIf="offerDetails">
    <div class="col-lg-3">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">Offer Information</h6>
                <div class="dropdown no-arrow">
                    <a class="pl-1 text-danger" title="Delete" (click)="onDeleteClick()">
                        <i class="fas fa-trash-alt text-gray-400"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <table *ngIf="offerDetails" class="div2 table table-hover table-sm datatable" role="grid">
                            <tr>
                                <td>
                                    External Id
                                </td>
                                <td>
                                    <a [href]="offerDetails.offerinfo.url" (click)="onExternalClick(offerDetails)">
                                        {{offerDetails.offerinfo.external_id}}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Price
                                </td>
                                <td>
                                    {{offerDetails.offerinfo.pricetype}} <br>

                                    {{offerDetails.offerinfo.price | currency:'EUR'}}
                                </td>
                            </tr>
                            <tr *ngIf="offerDetails.expectedSets.sumAmount > 0">
                                <td>
                                    Expected Sets
                                </td>
                                <td>
                                    {{offerDetails.expectedSets.sumAmount}} <br>
                                    Min price {{offerDetails.expectedSets.sumMin_price}} € <br>
                                    Avg_price {{offerDetails.expectedSets.sumAvg_price}} € <br>
                                    Parts {{offerDetails.expectedSets.sumComplete_part_count}} <br>
                                    Minifigs {{offerDetails.expectedSets.sumComplete_minifigs_count}} <br>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Location Group
                                </td>
                                <td>
                                    {{offerDetails.offerinfo.locationgroup}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Locality
                                </td>
                                <td>
                                    {{offerDetails.offerinfo.locality}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Zipcode
                                </td>
                                <td>
                                    {{offerDetails.offerinfo.zipcode}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Shipping
                                </td>
                                <td>
                                    {{offerDetails.offerinfo.shipping}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Inserated
                                </td>
                                <td>
                                    {{offerDetails.offerinfo.datecreated | date:'dd.MM.yyyy' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Deleted By User
                                </td>
                                <td>
                                    {{offerDetails.deletedByExtUser | date:'dd.MM.yyyy HH:mm' }}
                                </td>
                            </tr>


                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">Seller Information</h6>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <table *ngIf="offerDetails" class="div2 table table-hover table-sm datatable" role="grid">
                            <tr>
                                <td>
                                    External User Id
                                </td>
                                <td>
                                    <a href="https://www.ebay-kleinanzeigen.de/s-bestandsliste.html?userId={{offerDetails.user_id}}"
                                        (click)="onExternalClick(offerDetails)">
                                        {{offerDetails.userinfo.user_id}}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Seller
                                </td>
                                <td>
                                    <a class="pl-1" title="See details"
                                        (click)="onUserDetailsClick(offerDetails.userinfo.id)">{{offerDetails.userinfo.name}}</a>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Type
                                </td>
                                <td>
                                    {{offerDetails.userinfo.type}} <br>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Category
                                </td>
                                <td>
                                    <select ngModel name="usercategory_id" id="usercategory_id"
                                        class="form-control input-group" #status="ngModel"
                                        [(ngModel)]="offerDetails.usercategory.id" #t
                                        (change)="callUserCategory(t.value)">
                                        <option *ngFor="let category of userCategoryList" [value]="category.id">
                                            {{ category.category }}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Available Offers
                                </td>
                                <td>
                                    {{offerDetails.userinfo.offerscount}} <br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Recorded Offers
                                </td>
                                <td>
                                    {{offerDetails.userinfo.sumOffersRecorded}}
                                    <a class="pl-1" title="See details"
                                        (click)="onUserDetailsClick(offerDetails.userinfo.id)">
                                        <i class="fas fa-info-circle text-gray-400"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Friendliness
                                </td>
                                <td>
                                    {{offerDetails.userinfo.friendliness}} <br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Satisfaction
                                </td>
                                <td>
                                    {{offerDetails.userinfo.satisfaction}} <br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Account Created
                                </td>
                                <td>
                                    {{offerDetails.userinfo.accountcreated | date:'dd.MM.yyyy' }}
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">Searchproperties</h6>
            </div>
            <div class="card-body">
                <table *ngIf="offerDetails" class="div2 table table-hover table-sm datatable" role="grid">
                    <tr>
                        <td>
                            Searchterm
                        </td>
                        <td>
                            {{offerDetails.searchpropertyinfo.searchterm}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Location
                        </td>
                        <td>
                            {{offerDetails.searchpropertyinfo.location}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Price
                        </td>
                        <td>
                            {{offerDetails.searchpropertyinfo.pricemin}} - {{offerDetails.searchpropertyinfo.pricemax}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            only Pickup
                        </td>
                        <td>
                            {{offerDetails.searchpropertyinfo.onlypickup}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">Status</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12" *ngIf="statusData && statusColumns">
                                <ng-table [allowSearch]="true" [allowPaging]="false" [isActionVisible]="false"
                                    [columns]="statusColumns" [data]="statusData">
                                </ng-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary font-weight-bold m-0">Images</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12" *ngIf="imageData">
                                <ng-container *ngFor="let image of imageData.images; index as i;">
                                    <img class="img-thumbnail rounded float-left" [style.height.px]="150"
                                        [src]="image.imageurl" (click)="onImgClick(image, i)" />
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Description</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12" *ngIf="offerDetails">
                                            <div [innerHTML]="offerDetails.offerinfo.description | linkSetnumbers">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Send Message</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="card">
                                            <div class="card-body">
                                                <form (ngSubmit)="onSentMessage(messageForm)" #messageForm="ngForm">
                                                    <table class="div2 table table-hover table-sm datatable" role="grid">
                                                        <tr>
                                                            <td>
                                                                Account
                                                            </td>
                                                            <td>
                                                                <select ngModel name="account_id" id="account_id"
                                                                class="form-control input-group" #status="ngModel"
                                                                [(ngModel)]="newMessage.account_id" #t>
                                                                    <option *ngFor="let account of messageAccountList" [value]="account.id">
                                                                        {{ account.name }}
                                                                    </option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Text
                                                            </td>
                                                            <td>
                                                                <select ngModel name="messagetext_id" id="messagetext_id"
                                                                class="form-control input-group" #status="ngModel"
                                                                [(ngModel)]="newMessage.messagetext_id" #t>
                                                                    <option *ngFor="let text of messageTextList" [value]="text.id">
                                                                        {{ text.id }}
                                                                    </option>
                                                                </select>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <button type="submit" class="btn btn-primary">Send Message</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary font-weight-bold m-0">Properties</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="card-body">
                                        <div class="card">
                                            <div class="card-body">
                                                <form (ngSubmit)="onSaveProperties(propertiesForm)"
                                                    #propertiesForm="ngForm">
                                                    <table class="div2 table table-hover table-sm datatable"
                                                        role="grid">
                                                        <tr>
                                                            <td>
                                                                Weight (kg)
                                                            </td>
                                                            <td>
                                                                <input type="number" required #name="ngModel"
                                                                    [(ngModel)]="properties.weight_kg"
                                                                    class="form-control" id="weight_kg"
                                                                    name="weight_kg">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Boxes
                                                            </td>
                                                            <td>
                                                                <input type="text" required #name="ngModel"
                                                                    [(ngModel)]="properties.boxes" class="form-control"
                                                                    id="boxes" name="boxes">
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                Instructions
                                                            </td>
                                                            <td>
                                                                <input type="text" required #name="ngModel"
                                                                    [(ngModel)]="properties.instructions"
                                                                    class="form-control" id="instructions"
                                                                    name="instructions">
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                Minifigs
                                                            </td>
                                                            <td>
                                                                <input type="text" required #name="ngModel"
                                                                    [(ngModel)]="properties.minifigs"
                                                                    class="form-control" id="notes" name="notes">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Notes
                                                            </td>
                                                            <td>
                                                                <textarea rows="3" type="text" #description="ngModel"
                                                                    required [(ngModel)]="properties.notes"
                                                                    class="form-control" id="notes"
                                                                    name="notes"></textarea>
                                                            </td>
                                                        </tr>
                                                        <tr *ngIf="properties.created">
                                                            <td>
                                                                Created
                                                            </td>
                                                            <td>
                                                                {{properties.created | date:'dd.MM.yyyy' }}
                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <button type="submit" class="btn btn-primary">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary font-weight-bold m-0">Views</h6>
                            </div>
                            <ngx-charts-line-chart [showYAxisLabel]="true" [yAxis]="true" [xAxis]="true"
                                [yAxisLabel]="'Views'" [results]="viewChartData.collection"
                                [yScaleMin]="viewChartData.yScaleMin" [yScaleMax]="viewChartData.yScaleMax"
                                [scheme]="{ domain: ['#007BFF'] }">
                            </ngx-charts-line-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary font-weight-bold m-0">Possible Sets</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form (ngSubmit)="onSubmitAddSets(addSetsForm)" #addSetsForm="ngForm">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="row m-0 pb-3">
                                            <span class="col-sm-3 input-group-text"
                                                (click)="isMoreFieldOpenForSet = !isMoreFieldOpenForSet">
                                                <i class="fa"
                                                    [ngClass]="{'fa-angle-double-right': !isMoreFieldOpenForSet, 'fa-angle-double-down':isMoreFieldOpenForSet }"></i>
                                            </span>
                                            <input type="text" required class="form-control col-sm"
                                                id="exampleInputEmail1" #setno="ngModel" name="setno"
                                                [(ngModel)]="newpossiblesetDetail.setno" placeholder="Enter set number">
                                        </div>
                                        <div class="row m-0">
                                            <div class="col-lg-1"></div>
                                            <div *ngIf="setno.invalid && (setno.dirty || setno.touched || isSetFormSubmitted)"
                                                class="alert alert-danger col-sm">
                                                <div *ngIf="setno.errors.required">
                                                    Set number is required.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0" *ngIf="isMoreFieldOpenForSet">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg m-0 p-0">
                                                <label>Comments</label>
                                                <input type="text" [(ngModel)]="newpossiblesetDetail.comments"
                                                    name="comments" class="form-group form-control"
                                                    id="exampleInputEmail1" placeholder="Enter comments">
                                                <label>Amount</label>
                                                <input type="text" [(ngModel)]="newpossiblesetDetail.amount"
                                                    name="amount" class="form-group form-control"
                                                    id="exampleInputEmail1" placeholder="Enter amount">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="submit" class="btn btn-success">
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row" *ngIf="setDownloadingRequestData && setDownloadingRequestData.length > 0">
                            <div class="col-sm-12">
                                <table class="table table table-hover table-sm datatable">
                                    <tr>
                                        <th>
                                            Set No
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Progress
                                        </th>
                                    </tr>
                                    <tr *ngFor="let item of setDownloadingRequestData">
                                        <td>
                                            {{item.setNo}}
                                        </td>
                                        <td>
                                            {{item.status}}
                                        </td>
                                        <td>
                                            <ngb-progressbar type="success" [value]="item.progress" [animated]="true">
                                                {{item.progress}}% </ngb-progressbar>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" *ngIf="possiblesetData && possiblesetColumns">
                                <ng-table (rowCellClick)="onRowPossibleSetClick($event)" [isActionVisible]="true"
                                    [isEditVisible]="false" [isDeleteVisible]="true" [columns]="possiblesetColumns"
                                    [data]="possiblesetData" (rowDeleteClick)="onRowPossibleSetDeleteClick($event)">
                                </ng-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-modal-popup [title]="imgPopupName" size="lg" (closeEvent)="onImgPopupClose()" #imagePopup>
  <div class="main-image-container">
    <i class="fas fa-chevron-left text-gray-400" (click)="onArrowClick(true)"></i>
    <img [src]="imgPopupURL" width="90%"/>
    <i class="fas fa-chevron-right text-gray-400" (click)="onArrowClick(false)"></i>
  </div>
  <div class="thumbnail-container">
    <ng-container *ngFor="let image of imageData.images; index as i;">
      <img class="img-thumbnail rounded float-left" [ngClass]="{'img-thumbnail-selected': i==selectedImageIndex}"
           [src]="image.imageurl" (click)="onImgClick(image, i)"/>
    </ng-container>
  </div>
</app-modal-popup>
