.main-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fa-chevron-left, .fa-chevron-right {
  font-size: 45px;
  opacity: 0.7;
}

.fa-chevron-left, .fa-chevron-right:hover {
  cursor: pointer;
}

.thumbnail-container {
  display: flex;
  flex-direction: row;
  padding: 20px 35px 0 35px;
  flex-wrap: wrap;
}

.thumbnail-container .img-thumbnail {
  height: 100px;
}

.thumbnail-container .img-thumbnail-selected {
  border: 2px solid rgba(90, 94, 101, 0.92);
}

.navigation-buttons-container {
  display: flex;
}

.navigation-buttons-container .button {
  display: flex;
  justify-content: space-around;
  line-height: 28px;
  height: 28px;
  width: 50px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: .35rem;
  margin: 0 5px;
  font-size: 18px;
}

.navigation-buttons-container .button:hover {
  cursor: pointer;
  opacity: 0.8;
}

input[type="checkbox"] {
  outline: 0;
  height: 28px;
  box-shadow: none;
}
