<div class="container-fluid">
    <h3 class="text-dark mb-4 pt-2">Names Frequency</h3>

    <div *ngIf="activeButtons">
        <ng-container *ngFor="let data of activeButtons">
            <button class="btn btn-primary btn-sm mr-1" (click)="showNextNames(data)">{{data.word}} ({{data.counter}})</button>
          </ng-container>
          <div>
            <ng-container *ngFor="let word of searchwords">
                <label class="mr-1">{{word}}</label>
              </ng-container>    
          </div>
         
    </div>

    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h6 class="text-primary font-weight-bold m-0">Part Names</h6>
            <div class="dropdown no-arrow">
                <button class="btn btn-primary btn-sm " aria-expanded="false"  type="button" (click)="countNames()">
                    Calculate Data
                </button>
                <button *ngIf="countdata" class="pt-1 btn btn-secondary btn-sm " aria-expanded="false"  type="button" (click)="exportData()">
                    Export Data
                </button>
            </div>
        </div>
        <div class="card-body">
           <!--  <div class="row">
                <div class="col-sm-12" *ngIf="countdata && countcolumns">
                    <ng-table [allowSearch]="false" [isActionVisible]="false" [columns]="countcolumns" [data]="countdata">
                </ng-table>
                </div>
            </div> -->
            <div class="row">
                <div class="col-sm-12" *ngIf="partdata && partcolumns">
                    <ng-table [inputSearchTerm]="combinedsearchword" [allowSearch]="false" [isActionVisible]="false" [columns]="partcolumns" [data]="partdata">
                </ng-table>
                </div>
            </div>
        </div>
    </div>
</div>

