<div id="labels_page" class="container-fluid m-t-20">
    <div class="justify-content-between align-items-center mb-4 pt-2">
        <div class="row">
            <div class="col-lg-4 d-flex">
                <div class=" col-4 p-l-0">
                    <h3 class="text-dark mb-0">Label Parts</h3>
                </div>
                <div class="col-4 d-flex align_label_center">
                    <h6 class="m-b-0 text-secondary">RUN</h6> &nbsp;&nbsp;
                    <h6 class="m-b-0">258</h6>
                </div>
               
                <div class="col-4 d-flex p-r-0 align_label_right">
                    <h6 class="m-b-0 text-secondary">PART</h6> &nbsp;&nbsp;
                    <div >
                        <div class="align_arrows">
                            <i class="fas fa-arrow-left text-gray-400"></i>&nbsp;&nbsp;
                            <i class="fas fa-arrow-right text-gray-400"></i>
                        </div>
                        <h6 class="m-b-0">145/155</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <h3 class="text-dark mb-0">Label Parts</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="font-weight-bold m-0">Applied label for part 3</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="font-weight-bold m-0">Recorded images for part 3</h6>
                    <div class="dropdown no-arrow">
                        <a class="btn btzn-link btn-sm" title="Edit" aria-expanded="false"  type="button">
                            <i class="fas fa-exchange-alt"></i>
                        </a>
                        <a class="btn btzn-link btn-sm" title="Delete">
                            <i class="far fa-trash-alt text-gray-400"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="font-weight-bold m-0">Parts picker</h6>
                    <div class="dropdown no-arrow">
                        <a class="text-secondary" href=""><small>clear filters</small></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="font-weight-bold m-0">Colors picker</h6>
                    <div class="dropdown no-arrow">
                        <a class="text-secondary" href=""><small>reset to default</small></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
