<div id="dataTable_filter" class="text-md-right dataTable_filter">
  <label>
    <input class="form-control form-control-sm"
           type="search" name="searchTerm"
           (click)="clear()"
           (keyup)='search(rows,$event.target.value)'
           aria-controls="dataTable" placeholder="Search"/>
  </label>
</div>

<ag-grid-angular
  #offerGrid
  style="height: 100%;"
  class="ag-theme-alpine"
  [rowData]="rows"
  [columnDefs]="columns"
  [pagination]="true"
  [paginationPageSize]="10"
  [context]="this"
  (cellClicked)="onRowClick($event)"
>
</ag-grid-angular>
