<div class="container-fluid">
  <h3 class="text-dark mb-4 pt-2">Preferences</h3>
  <div class="row">
    <div class="col-lg-8">
      <div class="card shadow mb-4">
        <div>
          <h6 class="text-primary font-weight-bold mt-3 ml-3">User</h6>
          <button class="btn btzn-link btn-sm float-right mt-3 mr-3 btn-outline-secondary" aria-expanded="false"
                  type="button" (click)="editUser()">
            <i class="fas fa-plus text-gray-400"></i>
          </button>
        </div>
        <app-offer-grid class="offer-grid"
                        [columnDef]="userColumns"
                        [rows]="userRows"
                        (rowClick)="onEditUserClick($event)"
                        (deleteClick)="onRowDeleteUserClick($event)"
        >
        </app-offer-grid>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card shadow mb-4">
        <div>
          <h6 class="text-primary font-weight-bold mt-3 ml-3">User Groups</h6>
          <button class="btn btzn-link btn-sm float-right mt-3 mr-3 btn-outline-secondary" aria-expanded="false"
                  type="button" (click)="editUsergroup()">
            <i class="fas fa-plus text-gray-400"></i>
          </button>
        </div>
        <app-offer-grid class="offer-grid"
                        [columnDef]="userGroupsColumns"
                        [rows]="userGroupsRows"
                        (rowClick)="onEditUsergroupClick($event)"
                        (deleteClick)="onRowDeleteUsergroupClick($event)"
        >
        </app-offer-grid>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="card shadow mb-4">
        <div>
          <h6 class="text-primary font-weight-bold mt-3 ml-3">Status</h6>
          <button class="btn btzn-link btn-sm float-right mt-3 mr-3 btn-outline-secondary" aria-expanded="false"
                  type="button" (click)="editStatus()">
            <i class="fas fa-plus text-gray-400"></i>
          </button>
        </div>
        <app-offer-grid class="offer-grid"
                        [columnDef]="statusColumns"
                        [rows]="statusRows"
                        (rowClick)="onEditStatusClick($event)"
                        (deleteClick)="onRowDeleteStatusClick($event)"
        >
        </app-offer-grid>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card shadow mb-4">
        <div>
          <h6 class="text-primary font-weight-bold mt-3 ml-3">Status Types</h6>
          <button class="btn btzn-link btn-sm float-right mt-3 mr-3 btn-outline-secondary" aria-expanded="false"
                  type="button" (click)="editType()">
            <i class="fas fa-plus text-gray-400"></i>
          </button>
        </div>
        <app-offer-grid class="offer-grid"
                        [columnDef]="typeColumns"
                        [rows]="typeRows"
                        (rowClick)="onEditTypeClick($event)"
                        (deleteClick)="onRowDeleteTypeClick($event)"
        >
        </app-offer-grid>
      </div>
    </div>
  </div>
</div>
<app-user-edit (userAdded)="addNewUser($event)" #userEdit></app-user-edit>
<app-usergroup-edit (usergroupAdded)="addNewUsergroup($event)" #usergroupEdit></app-usergroup-edit>
<app-status-edit (statusAdded)="addNewStatus($event)" #statusEdit></app-status-edit>
<app-types-edit (typeAdded)="addNewType($event)" #typeEdit></app-types-edit>
