
<div class="card shadow mb-4">
  <div class="card-header d-flex justify-content-between align-items-center">
      <h6 class="text-primary font-weight-bold m-0">Part Names</h6>
  </div>
  <div class="card-body">
      <div class="row">
          <!-- <input type="text"  [(ngModel)]="newsearchword"
          name="searchterm" class="form-group form-control"
          id="searchterm" placeholder="Enter searchterm" (keyup.enter)="onSearchtermEnter()">
          <div *ngIf="searchwords[0] != 'none'">
              <ng-container  *ngFor="let word of searchwords">
                  <label class="mr-1">{{word}}</label>
              </ng-container>
              <button class="btn btn-danger btn-sm mr-1" (click)="clearsearchterm()">clear</button>
          </div> -->

          <mat-form-field class="example-chip-list">
            <mat-label>Enter searchterm</mat-label>
            <mat-chip-list #chipList aria-label="Enter searchterm">
              <ng-container  *ngFor="let word of partsArray">
                <mat-chip *ngIf="word != 'none'" [selectable]="selectable"
                        [removable]="removable" (removed)="remove(word)">
                  {{word}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
              </ng-container>
              <input placeholder="New part..."
                      #partInput
                     [matChipInputFor]="chipList"
                     [formControl]="termCtrl"
                     [matAutocomplete]="auto"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <!-- <mat-option *ngFor="let fruit of filteredPartsArray | async" [value]="fruit.word">
                {{fruit.word}}
              </mat-option> -->
              <mat-optgroup *ngFor="let group of filteredPartsArray | async" [label]="group.letter">
                <mat-option *ngFor="let name of group.termsList"  [value]="name.word">
                  {{ name.word }}
                </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
          </mat-form-field>



      </div>
      <div class="row">
          <div *ngIf="activeButtonsWords" id="color_codes">
              <!-- Words
              <ng-container *ngFor="let data of activeButtonsWords">
                  <button class="badge badge-light badge-sm" (click)="showNextNames(data)">{{data.word}}</button>
              </ng-container>
              Numbers
              <ng-container *ngFor="let data of activeButtonsNumbers">
                  <button class="badge badge-light badge-sm" (click)="showNextNames(data)">{{data.word}}</button>
              </ng-container> -->

              <mat-tab-group animationDuration="0ms">
                <mat-tab label="Numbers">
                  <ng-container *ngFor="let data of activeButtonsNumbers">
                    <button class="badge badge-light badge-sm" (click)="showNextNames(data)">{{data.word}}</button>
                  </ng-container>
                </mat-tab>
                <mat-tab label="Words">
                  <ng-container *ngFor="let data of activeButtonsWords">
                    <button class="badge badge-light badge-sm" (click)="showNextNames(data)">{{data.word}}</button>
                  </ng-container>
                </mat-tab>
              </mat-tab-group>

          </div>
      </div>
      <div class="row">
          <div class="col-sm-12" *ngIf="partdataAggregated && partcolumns">
              <ng-table [allowSearch]="false" [isActionVisible]="true" [isEditVisible]="false" [isDownloadVisible]="true" [columns]="partcolumns" [data]="partdataAggregated">
          </ng-table>
          </div>
      </div>
  </div>
</div>

