body {
  margin: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}

@media (min-width: 768px) {
  .text-md-right {
    text-align: right !important;
  }
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.text-nowrap {
  white-space: nowrap !important;
}

.modal-dialog {
  .confirm {
    .buttons {
      padding: 10px 15px;
      float: right;
      button {
        margin-right: 10px;
      }
    }
  }
}

#div22 {
  th[sortable] {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
  }

  th[sortable].desc:before,
  th[sortable].asc:before {
    content: "";
    display: block;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC")
      no-repeat;
    background-size: 22px;
    width: 22px;
    height: 22px;
    float: left;
    margin-left: -22px;
  }

  th[sortable].desc:before {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
}

.flex-right {
  display: flex !important;
  flex-direction: row-reverse;
}

.status-type {
  display: inline-block;
  width: 16px;
  height: 16px;
  right: 0;
  top: 28px;
  border-radius: 50%;
  border: 2px var(--white) solid;
}

.border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
}

.border-left-info {
  border-left: 0.25rem solid #36b9cc !important;
}

.border-left-success {
  border-left: 0.25rem solid #1cc88a !important;
}

.border-left-danger {
  border-left: 0.25rem solid #dc3545 !important;
}

.border-left-secondary {
  border-left: 0.25rem solid #6c757d !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.35rem;
}

.p-r-20 {
  padding-right: 20px;
}

#set_header, #pusher_header {
  .mat-expansion-panel-header {
    cursor: move !important;
  }
}
.mat-expansion-panel-header.mat-expanded {
  background: #007bff !important;
  .mat-expansion-panel-header-title {
    color: #ffffff !important;
  }
}

//::::::::::::: Paddings ::::::::::::::::::::::
.pl-18 {
  padding-left: 18px;
}
.pr-18 {
  padding-right: 18px;
}

.p-l-0 {
  padding-left: 0 !important;
}

.p-r-0 {
  padding-right: 0 !important;
}

//::::::::::::: Margins ::::::::::::::::::::::
.ml-18 {
  margin-left: 18px;
}
.mr-18 {
  margin-right: 18px;
}

.m-t-10 {
  margin-top: 10px;
}
.m-t-20 {
  margin-top: 20px;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-r-10 {
  margin-right: 10px;
}
.m-r-20 {
  margin-right: 20px;
}

#color_codes{
   .mat-tab-body-content {
    display: flex;
    flex-wrap: wrap;
    // margin-right: -15px;
    margin-left: 20px;
   }

  .menu_top {
    display: flex;
    align-items: flex-start;
  }
  .mat-tab-body-wrapper {
    margin-top: 10px;
  }
}
.no-border {
  border: none;
  background: none;
}

.border {
  border: 1px solid black;
}

#color_codes .mat-tab-label, .mat-tab-label-active{
  min-width: 0!important;
  margin: 3px!important;
  height: 30px !important;
  background: #d3b9b9;
  padding: 6px;
  font-size: 12px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
 }
// #serach_tabs {
//     .mat-tab-label, .mat-tab-label-active {
//       min-width: 0!important;
//       margin: 3px!important;
//       height: 48px !important;
//       background: #d3b9b9;
//       padding: 15px;
//       font-size: 20px;
//       border-top-left-radius: 6px;
//       border-top-right-radius: 6px;
//     }
//     .mat-tab-body-content {
//       padding: 15px;
//     }
// }


 .full-width {
   width: 100%;
 }

.menu_dropdown {
  padding: 10px;
  .mat-menu-item {
    height: 30px;
  }
  .example-margin {
    margin-top: 5px;
    margin-right: 5px;
  }
}

.mat-menu-panel {
  min-width: 200px !important;
}

.select-label {
  font-size: 14px;
  font-weight: 700;
}

.danger {
  color: red;
}

.d-table {
  display: table;
}

#labels_page {
  .align_label_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .align_label_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .align_arrows {
    text-align: center;
    margin-top: -24px;
  }
}