<div class="card shadow border-left-primary py-2">
  <div class="card-body">
      <div class="row align-items-center no-gutters">
          <div class="col mr-2 p-r-20">
              <div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
                  <span>Identified By CNN</span>
              </div>
              <ngb-progressbar type="primary" [value]="10" [animated]="true">{{10}} % </ngb-progressbar>
              <div class="text-dark font-weight-bold h5 mb-0">
                  10 of 100
              </div>
          </div>
          <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
      </div>
  </div>
</div>
