<div class="card shadow py-2 border-left-{{data?.color ? data?.color : ''}}">
  <div class="card-body">
      <div class="row align-items-center no-gutters">
          <div class="col mr-2 p-r-20">
              <div class="text-uppercase text-{{data?.color ? data?.color : ''}} font-weight-bold text-xs mb-1">
                  <span>{{title}}</span>
              </div>
              <ngb-progressbar *ngIf="showProgressbar" type="{{data?.color ? data?.color : ''}}" [value]="data?.percentage" [animated]="true">{{data?.percentage}} % </ngb-progressbar>
              <div *ngIf="showProgressbar" class="text-dark font-weight-bold h5 mb-0">
                  {{data?.identified}} of {{data?.total}}
              </div>
              <div *ngIf="!showProgressbar" class="text-dark font-weight-bold h5 mb-0">
                {{data?.identified}} / {{data?.total}}
            </div>
          </div>
          <div *ngIf="showIcon" class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
      </div>
  </div>
</div>
