<div class="container-fluid" *ngIf="runDetails">
    <div class="d-sm-flex justify-content-between align-items-center mb-4 pt-2">
        <h3 class="text-dark mb-0">{{runDetails.runinfo.title}}</h3>
    </div>
</div>
<div class="row" *ngIf="runDetails">
    <div class="col-md mb-4">
        <app-card [title]="'Parts Identified'" [showProgressbar]="true"
        [data]="{color: 'info',current: runDetails.identified_parts.sumTotal, total: runDetails.expected_parts.sumPartsQuantity}"></app-card>
    </div>
    <div class="col-md  mb-4" >
        <app-card [title]="'Parts sorted of identified'" [showProgressbar]="true"
        [data]="{color: 'success',current: runDetails.sorted_parts.detected_parts, total: runDetails.identified_parts.sumTotal}">
      </app-card>
    </div>
    <div class="col-md  mb-4" >
        <app-card [title]="'Sorted (undetected)'" [showProgressbar]="true"
        [data]="{color: 'danger',current: runDetails.sorted_parts.undetected_parts, total: runDetails.identified_parts.sumTotal}">
        </app-card>
    </div>
    <div class="col-md  mb-4" >
        <app-card [title]="'Parts / Colors to label'" [showProgressbar]="false"
        [data]="{color: 'secondary',current: runDetails.unlabeled_parts.sumPartUnlabeled, total: runDetails.unlabeled_parts.sumColorUnlabeled}">
        </app-card>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">General</h6>
                <div class="dropdown no-arrow">
                    <a class="btn btzn-link btn-sm" title="edit" aria-expanded="false"  type="button" (click)="onEditRunClick()">
                        <i class="fas fa-edit text-gray-400"></i>
                    </a>
                    <a class="pl-1 text-danger" title="Delete" (click)="onDeleteRunClick()">
                        <i class="fas fa-trash-alt  text-gray-400"></i>
                    </a>

                </div>
            </div>
            <app-card-table *ngIf="runDetails" [cardColumns]="overviewInfo" [cardData]="runDetails"></app-card-table>
            <!-- <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <h4>Overview</h4>
                        <table *ngIf="runDetails" class="div2 table table-hover table-sm datatable" role="grid">
                            <tr>
                                <td>
                                    Collection
                                </td>
                                <td>
                                        {{runDetails.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sorter
                                </td>
                                <td>
                                        {{runDetails.sorterinfo.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Status
                                </td>
                                <td>
                                        {{runDetails.status.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Parts identified By Cnn
                                </td>
                                <td>
                                        {{runDetails.parts_identified_by_cnn}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Parts identified By Human
                                </td>
                                <td>
                                        {{runDetails.parts_identified_by_human}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div> -->
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary font-weight-bold m-0">Sorted Sets</h6>
                        <div class="dropdown no-arrow">
                            <button class="btn btzn-link btn-sm " aria-expanded="false"  type="button" (click)="editSortedset(0)">
                                <i class="fas fa-plus text-gray-400"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12" *ngIf="sortedsetsData && sortedsetsColumns">
                                <ng-table [isActionVisible]="true" [isEditVisible]="true" [columns]="sortedsetsColumns" [data]="sortedsetsData" (rowEditClick)="onEditSortedsetClick($event)">
                                </ng-table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary font-weight-bold m-0">Identified Parts</h6>
                        <div class="dropdown no-arrow">
                            <button class="btn btn-sm btn-primary" aria-expanded="false"  type="button" (click)="labelparts(runDetails.run_id)">
                                Label Parts
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12" *ngIf="identifiedpartsData && identifiedpartsColumns">
                                <ng-table (rowCellClick)="onEditIdentifiedpartClick($event)"  [isActionVisible]="true" [isEditVisible]="false" [isDeleteVisible]="true" [columns]="identifiedpartsColumns" [data]="identifiedpartsData" (rowDeleteClick)="onRowIdentifiedpartDeleteClick($event)">
                                </ng-table>
                            </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<app-run-edit (runAdded)="addNewRun($event)" #runEdit></app-run-edit>
<app-sortedset-edit (sortedsetAdded)="addNewSortedset($event)" #sortedsetEdit></app-sortedset-edit>
<app-identifiedpart-edit (identifiedpartAdded)="addNewIdentifiedpart($event)" #identifiedpartEdit></app-identifiedpart-edit>
